/* Reset default margin and padding */
body, ul, footer {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide scrollbars */
  
}

body{
  height: 1px;
}

/* Navbar styles */
header {
  background-color: #333;
  padding: 10px 0; /* Adjust padding */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: #fff;
  height: 30px; /* Adjust height */
  
}

.nav-links {
  list-style: none;
  display: flex;
}
.navbar-nav{
  width: 150%;
  color: rgb(231, 239, 236);
  
  
}
.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}

/* Logo styles */
.logo img {
  height: 55px; /* Adjust logo size */
}

/* Main content styles */
main {
  padding: 0;
}

/* Image slider styles */
.container-fluid {
  width: 100vw; /* Make the image container cover the entire viewport width */
  height: 89vh; /* Make the image container cover the entire viewport height */
  overflow: hidden;
}

.container-fluid img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the entire container, maintaining aspect ratio */
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
footer p {
  margin: 0;}