<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Recommendation System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
    <header>
        <nav>
            <div class="logo">
              <a href="https://farmer.gov.in/">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">

            </div>
            <ul class="nav-links">
                <li><a href="about.html">About Us</a></li>
                <li><a href="features.html">Features</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="login">Login</a></li>
                <!-- <li><a href="#advanced">Advanced</a></li> -->
            </ul>
        </nav>
    </header>

    <main>
        <section id="image-slider">
            <div id="image-container">
                <!-- Your image slider content will be dynamically added here -->
            </div>
        </section>
    </main>
   
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <footer>
        <div class="copyright">
            <p>&copy; 2024 Crop Recommendation System. All rights reserved.</p>
        </div>
    </footer>

    
</body>
</html>
